@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

section.list-your-place-banner {
    position: relative;
    height: 100vh;
    width: 100%;
    color: white;

    .list-your-place-bg {
        width: 100%;
        height: 85vh;
        background: url('../images/bookings/bookings-bg.jpg');
        background-repeat: repeat;
        background-size: cover;
        position: absolute;
        z-index: -99;
    }

    .list-your-place-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;

        h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 70px;
            margin: 0 0 .2em 0;
        }

        .list-your-place-subtxt {
            display: flex;
            font-weight: 500;
            font-size: 24px;
            line-height: 70px;

            p {
                margin: 0 .5em;
            }

            a {
                color: white;
            }
        }
    }
}

section.booking-form {
    height: auto;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;

    .form-container {
        width: 1140px;
        height: 873px;
        
        label {
            width: 361.08px;
            font-weight: 600;
            font-size: 17px;
            line-height: 24px;
            margin: .5em 0;

            span {
                color: red;
            }
        }

        input, select{
            border: 1px solid #C4C4C4;
            border-radius: 5px;
            width: 361.08px ;
            height: 56.32px;
            padding: 0 1em;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #737373;
        }

        form {
            display: flex;
            flex-wrap: wrap;

            .form-item {
                display: flex;
                flex-direction: column;
                margin: 1em .5em;
            }
            textarea {
                width: 1140px;
                height: 170.09px;
                resize: none;
                padding: .5em;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }

            .upload-img {
                background: rgba(6, 154, 186, 0.1);
                border: 2px dashed #069ABA;
                border-radius: 10px;
                width: 1140px;
                height: 114.9px;
            }
            
            .upload-img {
                display: grid;
                place-items: center;
                place-content: center;
                margin: 0 0 2em 0;

                h3 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;

                    span {
                        color: #069ABA;
                        cursor: pointer;
                    }
                }
            }

            input[type='button'] {
                width: 582.49px;
                height: 77.73px;
                background: #000000;
                border-radius: 33px;
                color: white;
                font-weight: 500;
                font-size: 30px;
                line-height: 25px;
                letter-spacing: 0.181593px;
                cursor: pointer;
                margin: 0 auto;
            }
        }
    }
}