@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
}

section.signin-banner {
  position: relative;
  text-align: center;
}
section.signin-banner .signin-bg {
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
}
section.signin-banner .signin-txt {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.signin-banner .signin-txt h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
}
section.signin-banner .signin-txt .signin-subheader {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
section.signin-banner .signin-txt .signin-subheader a {
  color: black;
}
section.signin-banner .signin-txt .signin-subheader p {
  font-weight: 500;
  font-size: 24px;
  line-height: 70px;
  margin: 0 0.5rem;
}

.login-form {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form label {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.login-form form {
  width: 677px;
  height: auto;
  padding: 2em 0;
}
.login-form form .log-error {
  width: 676px;
  height: 60px;
  border: 1px solid red;
  background: #FFCCCC;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  margin: 1em 0;
}
.login-form form input {
  width: 676px;
  height: 60px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #343434;
  padding: 0 0.5em;
  margin: 1em 0 1.5em 0;
}
.login-form form input[type=submit] {
  width: 676px;
  height: 66px;
  background: #000000;
  border-radius: 33px;
  font-weight: 500;
  font-size: 32px;
  line-height: 51px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 1em 0 0.5em 0;
}
.login-form form input[type=submit]:hover {
  background: white;
  color: black;
  border: 2px solid black;
}
.login-form form .form-forgot {
  display: flex;
  justify-content: space-between;
  margin: 0 0 4em 0;
}
.login-form form .form-forgot a {
  text-decoration: none;
}
.login-form form .form-forgot a P {
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #343434;
}
.login-form form .signin-alt {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 1em 0;
}
.login-form form .signin-socmed {
  display: flex;
}
.login-form form .signin-socmed .signin-fb, .login-form form .signin-socmed .signin-google {
  width: 328px;
  height: 66px;
  border: 1px solid #000000;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
  cursor: pointer;
}
.login-form form .signin-socmed .signin-fb p, .login-form form .signin-socmed .signin-google p {
  font-weight: 500;
  font-size: 22px;
  line-height: 51px;
  margin: 0 0.5em;
}
.login-form form .signin-socmed .signin-fb:hover {
  background: #1877F2;
  color: white;
}
.login-form form .signin-socmed .signin-fb:hover img {
  border: 1.5px solid white;
  border-radius: 20px;
}
.login-form form .signin-socmed .signin-google:hover {
  background: rgb(0, 0, 0);
  color: white;
}
.login-form .signin-terms p {
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #343434;
}
.login-form .signin-terms span {
  font-weight: 700;
  cursor: pointer;
}/*# sourceMappingURL=login.css.map */