@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #069ABA;
    
    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        width: 800px;
        height: 400px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.5);

    }

    section.left-container {
        height: 100%;
        width: 50%;
        padding: 0 0 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border-right: 2px solid rgba(0, 0, 0, 0.3);

        .left-items {
            h5 {
                font-size: 18px;
                margin: 1.5em 0;
                font-weight: 700;
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
    section.right-container {
        height: 100%;
        width: 50%;
        .right-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 6em 0;

            .item-logo {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            input {
                width: 250px;
                height: 30px;
                border-radius: 6px;
                margin: 1em;
            }

            button {
                    margin: 2.5em 0 0 0;
                    width: 150px;
                    height: 40px;
                    border-radius: 15px;
                    background: black;
                    color: white;
                    cursor: pointer;
            }
        }
    }
}